* {
    margin: 0;
    padding: 0;
    background-color: #efefef;
    font-family: 'Segoe UI';
}

#table {
    width: 75%;
    border-collapse: collapse;
    margin: auto;
}

#table th {
    background-color: #fc9952;
    color: white;
}

#table tr:nth-child(odd) td {
    background-color: #ffddcc;
}

#table tr:nth-child(even) td {
    background-color: white;
}

td:nth-child(3) {
    font-weight: 500;
}

#table, th, td {
    border: 1px solid #ddd;
    padding: 16px 8px;
}

