* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
}

body {
    background-color: #efefef;
}

#table {
    width: 75%;
    border-collapse: collapse;
    margin: auto;
}

#table th {
    background-color: #fc9952;
    color: white;
}

#table tr:nth-child(odd) td {
    background-color: #ffddcc;
}

#table tr:nth-child(even) td {
    background-color: white;
}

td:nth-child(3) {
    font-weight: 500;
}

#table, th, td {
    border: 1px solid #ddd;
    padding: 16px 8px;
}

#form {
    width: 50%;
    padding: 48px;
    margin: 16px auto;
    background-color: white;
}

#form img {
    height: 178px;
    display: block;
    margin: auto;
}

input[type=text], select {
    display: block;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 12px 20px;
    margin: 8px 0 16px 0;
    width: 100%;
}

input[type=radio] {
    margin: 16px 8px 16px 24px;
}

input[type=radio]:checked + label {
    font-weight: bold;
    color: rgb(94, 133, 212);
    border-bottom: 2px solid rgb(94, 133, 212);
}

input[type=submit] {
    display: block;
    border-radius: 3px;
    border-width: 0px;
    padding: 12px 20px;
    margin: 8px 0 16px 0;
    width: 100%;
    background-color: rgb(94, 133, 212);
    color: white;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: rgb(63, 100, 173);
}

input[type=text]:hover, select:hover {
    background-color: #efefef;
}

.class-radio {
    display: block;
    margin: 8px 0 16px 0;
}


label[for] {
    font-weight: 500;
}